@model IEnumerable<OrdersManagerService.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if ((int)item.Status == 2 )
            {
                <tr>
                    <td>
                        <s> @Html.DisplayFor(modelItem => item.Name)</s> <s style="color:#ff0000"> @Html.DisplayFor(modelItem => item.Status)</s> <s> @Html.DisplayFor(modelItem => item.Count)</s> <s>@Html.DisplayFor(modelItem => item.Weight)</s>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            @if ((int)item.Status == 1 )
            {
                <tr>
                    <td>
                        <s> @Html.DisplayFor(modelItem => item.Name)</s> <s style="color:#00ffff"> @Html.DisplayFor(modelItem => item.Status)</s> <s> @Html.DisplayFor(modelItem => item.Count)</s> <s>@Html.DisplayFor(modelItem => item.Weight)</s>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            @if ((int)item.Status == 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)  @Html.DisplayFor(modelItem => item.Status)  @Html.DisplayFor(modelItem => item.Count) @Html.DisplayFor(modelItem => item.Weight)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
